@model WebApplication2.Models.Entity.TBLUYELER
@using PagedList
@using PagedList.Mvc



@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>UyeEkle</h2>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">



<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>UYENIN ADI</label>
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color : forestgreen" })
    </div>


    <div style="margin-top:15px">
        <label>Uye Soyad</label>
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color : forestgreen" })
    </div>


    <div style="margin-top:15px">
        <label>Uye Mail</label>
        @Html.TextBoxFor(x => x.MAIL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MAIL, "", new { @style = "color : forestgreen" })
    </div>



    <div style="margin-top:15px">
        <label>Kullanici Adi</label>
        @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KULLANICIADI, "", new { @style = "color : forestgreen" })
    </div>


    <div style="margin-top:15px">
        <label>Sifre</label>
        @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SIFRE, "", new { @style = "color : forestgreen" })
    </div>

    <div style="margin-top:15px">
        <label>Fotograf</label>
        @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FOTOGRAF, "", new { @style = "color : forestgreen" })
    </div>

    <div style="margin-top:15px">
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.TELEEFON, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TELEEFON, "", new { @style = "color : forestgreen" })
    </div>


    <div style="margin-top:15px">
        <label>Okul</label>
        @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OKUL, "", new { @style = "color : forestgreen" })
    </div>
    

    <div style="margin-top:15px">
        <button class="btn btn-success">Uye Ekle</button>
    </div>

</form>
