
@{
    ViewBag.Title = "LinqKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="~/web3/css/style.css" rel="stylesheet" />


<link href="~/web3/css/table-style.css" rel="stylesheet" />
<link href="~/web3/css/style_grid.css" rel="stylesheet" />
<link href="~/web3/css/style.css" rel="stylesheet" />
<link href="~/web3/css/monthly.css" rel="stylesheet" />
<link href="~/web3/css/jQuery-plugin-progressbar1.css" rel="stylesheet" />
<link href="~/web3/css/font-awesome.css" rel="stylesheet" />
<link href="~/web3/css/flipclock.css" rel="stylesheet" />
<link href="~/web3/css/export.css" rel="stylesheet" />
<link href="~/web3/css/component.css" rel="stylesheet" />
<link href="~/web3/css/circles.css" rel="stylesheet" />
<link href="~/web3/css/bootstrap.css" rel="stylesheet" />
<link href="~/web3/css/basictable.css" rel="stylesheet" />

<script src="~/web3/js/validator.min.js"></script>
<script src="~/web3/js/valida.2.1.6.min.js"></script>
<script src="~/web3/js/skycons.js"></script>
<script src="~/web3/js/serial.js"></script>
<script src="~/web3/js/scripts.js"></script>
<script src="~/web3/js/screenfull.js"></script>
<script src="~/web3/js/radar.js"></script>
<script src="~/web3/js/prettymaps.js"></script>
<script src="~/web3/js/pie.js"></script>
<script src="~/web3/js/monthly.js"></script>
<script src="~/web3/js/modernizr.custom.js"></script>
<script src="~/web3/js/light.js"></script>
<script src="~/web3/js/jquery.nicescroll.js"></script>
<script src="~/web3/js/jquery.basictable.min.js"></script>
<script src="~/web3/js/jQuery-plugin-progressbar.js"></script>
<script src="~/web3/js/jquery-2.1.4.min.js"></script>
<script src="~/web3/js/jqBootstrapValidation.js"></script>
<script src="~/web3/js/gnmenu.js"></script>
<script src="~/web3/js/gauge.js"></script>
<script src="~/web3/js/flipclock.js"></script>
<script src="~/web3/js/export.js"></script>
<script src="~/web3/js/contact_me.js"></script>
<script src="~/web3/js/classie.js"></script>
<script src="~/web3/js/circles.js"></script>
<script src="~/web3/js/Chart.min.js"></script>
<script src="~/web3/js/bootstrap-3.1.1.min.js"></script>
<script src="~/web3/js/bars.js"></script>
<script src="~/web3/js/amcharts.js"></script>







<h2>LinqKart</h2>

<div class="agile_top_w3_grids">
    <ul class="ca-menu">
        <li>
            <a href="#">

                <i class="fa fa-book" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.deger1</h4>
                    <h3 class="ca-sub">Kitap Sayimiz</h3>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@ViewBag.deger2</h4>
                    <h3 class="ca-sub one">Uye Sayimiz</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">29,008</h4>
                    <h3 class="ca-sub two">Kasadaki Tutar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@ViewBag.deger4</h4>
                    <h3 class="ca-sub three">Odunc Kitaplar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-clone" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">@ViewBag.deger5</h4>
                    <h3 class="ca-sub four">Kategori Sayisi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">

                <i class="fa fa-building-o" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">16,808</h4>
                    <h3 class="ca-sub">En Cok Okunan Kitap</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">26,808</h4>
                    <h3 class="ca-sub one">En Aktif Uye</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-oil-can" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@ViewBag.deger4</h4>
                    <h3 class="ca-sub two">En Fazla Kitabi Olan Yazar</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-diamond " aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">49,436</h4>
                    <h3 class="ca-sub three">En Basarili Personel</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-battery-4" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">30,808</h4>
                    <h3 class="ca-sub four">Toplam Mesaj Sayisi</h3>
                </div>
            </a>
        </li>


        <li>
            <a href="#">

                <i class="fa fa-building-o" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@ViewBag.deger5</h4>
                    <h3 class="ca-sub">En Fazla Kitabi Olan Yayinevi</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">26,808</h4>
                    <h3 class="ca-sub one">New Clients</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">29,008</h4>
                    <h3 class="ca-sub two">New Projects</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">49,436</h4>
                    <h3 class="ca-sub three">Old Projects</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-clone" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">30,808</h4>
                    <h3 class="ca-sub four">New Orders</h3>
                </div>
            </a>
        </li>

    </ul>
</div>