@using WebApplication2.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Odunc Kitap Listesi</h2>


@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px;margin-top:15px;">

        <b>Aranacak Kitap Adini Girin :</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />

    </div>

}


<h2> Kayitli Uyeler</h2>

<table class="table table-bordered">

    <tr>
        <td>ID</td>
        <td>Kitap Adi</td>
        <td>Uye</td>
        <td>Personel</td>
        <td>Alis Tarihi</td>
        <td>Iade Tarihi</td>
        <td>Sil</td>
        <td>Guncelle</td>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD&npbs @k.TBLUYELER.SOYAD</td>
            <td>@k.PERSONEL</td>
            <td>@k.ALISTARIH</td>
            <td>@k.IADETARIH</td>
            <td>@k.SAYFA</td>
            <td>@k.DURUM</td>
            <td><a href="/Kitap/KitapSil/@k.ID" class="btn bg-danger">Kitabi Iade Et</a></td>
        </tr>
    }

</table>

<a href="/Kitap/KitapEkle/" class="btn bg-success">Yeni Kitap Ekle</a>

