@using WebApplication2.Models.Entity
@model List<TBLHAREKET>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">




<h2 style="
   
    max-height :100px;
    background-color:paleturquoise;
    border-radius:10px;
    padding:15px;
    text-align:center ;
    backdrop-filter: blur(1000px);
    
    
   ">Odunc Kitap Al</h2>


@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px;margin-top:15px;">

        <b>Aranacak Kitap Adini Girin :</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />

    </div>

}







<table class="table table-bordered"> 

   
    <tr>
        <td>ID</td>
        <td>Kitap Adi</td>
        <td>Uye</td>
        <td>Personel</td>
        <td>Alis Tarihi</td>
        <td>Iade Tarihi</td>
        <td>Sil</td>
        <td>Guncelle</td>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.KULLANICIADI</td>
            <td>@k.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM//yyyy")</td>
            <td>@Convert.ToDateTime(k.IADETARIH).ToString("dd/MM//yyyy")</td>

            <td><a href="/Odunc/Odunciade/@k.ID" class="btn btn-secondary">Kitabi Iade Et</a></td>
            <td><a href="/Odunc/Odunciade/@k.ID" class="btn btn-secondary">Kitabi Iade Et</a></td>
        </tr>
    }

</table>

<a href="/Kitap/KitapEkle/" class="btn bg-success">Yeni Kitap Ekle</a>

